@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>Guid değerleri:</h3>
<p>
    Singleton: @ViewBag.Singleton
</p>
<p>
    Scoped: @ViewBag.Scoped
</p>
<p>
    Transient: @ViewBag.Transient
</p>
<h3>Başka bir objeden gelen Guid'ler'</h3>
<hr />
<p>
    Singleton: @ViewBag.ServiceSingleton
</p>
<p>
    Scoped: @ViewBag.ServiceScoped
</p>
<p>
    Transient: @ViewBag.ServiceTransient
</p>